html {
    padding-top: 150px;
}
body {
    margin: 0ex 10ex 0ex 10ex;
    padding: 0ex;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 2ex;
    color: #333;
    background-color: #ffffff;

}

.mp  pre {
    font-family: "Courier New", Courier, mono;

    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

.mp h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #666;
    text-align: center;
}

.mp>h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;
    text-align: center;
    line-height: 2ex;
    font-weight: 700;
    color: #444;
}

.mp h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

.mp p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

.mp img {
    border: 0;
}

.mp li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

.mp table {

    empty-cells: show;
    margin: auto;
    border-style: solid;
    border-color: #6c757d;
    border-width: medium;
}



.mp td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
}

.mp .firsttr{
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: center;
    border-width: 0;
    border-spacing: 0;
    background-color: #ea9800;
    color: white;
}


.mp th {
    font-weight: bold;
}

.mp a, a:visited, a:link {
    color: #eaac00;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

.mp a:hover {
    color: rgba(241, 200, 143, 0.87);
}

.mp a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-radius: 5px;
}

.mp a.Button:hover {
    color: #ffffff;
    background-color: rgba(241, 200, 143, 0.87);
    cursor:pointer;
}

.mp input{
    background-color: rgba(255, 241, 204, 0.74);
}


.mp #Logo {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #eaac00;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

.mp body>#Logo {
    height: 9ex;
}

.mp #Menu {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #eaac00;
    color: #ffffff;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

.mp #Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

.mp body>#Menu {
    height: 9ex;
}



.mp #Search {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    text-align: center;
    background-color:white;
    color: #eaac00;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;

}

.mp body>#Search {
    height: 9ex;
}

.mp #Search input[type="text"] {
    border-width: .1ex .1ex .1ex .1ex;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    transition: 0.5s;
}


.mp #Search input[type="submit"] {
    background-color: #eaac00;
    border-color: white;
    color: white;
    height: 25px;
    border-radius: 5px;
}

.mp #Search input[type="submit"]:hover {
    background-color:#FAD294DD ;
    border-color: white;
    color: white;
    height: 25px;
    border-radius: 5px;
}

.mp #QuickLinks {
    text-align: center;
    background-color: #FFF;
    width: 99%;
}
.mp .addre {
    padding-left: 50px;
}
.mp #PoweredBy {
    width: 33%;
    position: absolute;
    left: 0px;
    height: 4ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #eaac00;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

.mp body>#PoweredBy {
    height: 4ex;
}

.mp #Banner {
    width: 1010px;
    position: absolute;
    right: 0px;
    height: 4ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #eaac00;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

.mp body>#Banner {
    height: 4ex;
}

.mp #Content {
    margin: 0;
    padding: 0ex 0ex 10ex 0ex; !important;
    width: 99%;
    color: #333;
    background-color: #FFF;
    border-width: 0;



}

.mp #Separator {
    clear:both;
    margin: 0;
    height:0;
}

.mp #Main {
    margin: 0;
    padding: 1ex;
    color: #333;
    background-color: #FFF;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

.mp #Sidebar {
    float: left;
    /*background:inherit;*/
    width: 30%;
}

.mp #MainImage {
    float: left;
    background:inherit;
    text-align:center;
    width: 50%;
}

.mp #Catalog {
    padding: 1ex 1ex 1ex 1ex;
    padding-top: 200px;
    background:inherit;
    text-align:center;
}

.mp .account th,td{
    background-color: white;
}

.mp .account input[type="text"]{
    color: black;
    background-color: white;
    border-color: #eaac00;
}

.mp .account input[type="text"]:focus{
    border-color: #eaac00;

}

.mp #Catalog input[type="submit"]{

    color: #fff;
    background-color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 2ex;
    border-width:0;
}
.mp #Catalog input[type="submit"]:hover {
    color: #ffffff;
    background-color: rgba(250, 210, 148, 0.87);
    cursor:pointer;
}


.mp #Catalog table{
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-color: #6c757d;
    border-width: medium;
}

.mp #BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #000;
}

.mp #Cart{
    width: 69.99%;
    float: left;
    text-align: center;
    background-color:#fff;
}

.mp #MyList{
    width: 30%;
    float: left;
    background-color: #ffffff;
    text-align:left;
}


.mp ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

}

.mp li.cateItem a {
    display: block;
    color: #ea9800;
    padding: 8px 16px;
    text-decoration: none;
    width: 230px;
    height: 30px;
    transition: width 1s,height 1s;
}

.mp li.cateItem a:hover {
    background-color: #ea9800;
    color: white;
    width: 300px;
    height: 45px;
}

.mp .loginbox{
    width:400px;
    padding:40px;
    top:23ex;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    text-align: center;
    position:relative;
}
.mp>form {
    text-align: center;
}

.mp .loginbox input[type="text"],.loginbox input[type="password"] {
    background: none;
    display: block;
    text-align: left;
    border:0;
    margin:20px auto;
    border:2px solid #eaac00;
    padding:14px 10px;
    width:200px;
    outline:none;
    color: #000000;
    border-radius: 24px;
    transition: 0.5s;
}

.mp .loginbox input[type="text"]:focus,.loginbox input[type="password"]:focus {
    width: 280px;
    border-color: #eaac00;
}
.mp .account {
    text-align: center;
}
.mp table tr {
    border-color: #6c757d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.mp table tr td {
    border-color: #6c757d;
    border-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
}

.mp .itemtb{
    background-color:#FAD294DD ;
}

.mp #productAutoComplete {
    background: #ccc;
    position: relative;
    top: -25px;
    left: 125px;
    width: 180px;
    display: none;
}

.mp #productAutoList {
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
}

.mp .productAutoItem {
    list-style: none;
    text-align: left;
    height: 18.5px;
    line-height: 18.5px;
    font-size: 10px;
    padding-left: 5px;
    margin-top: 3px;
    border-bottom: 1px solid #666;
    color: #000000;
    cursor: pointer;
}



.mp .nav-search {
    position: absolute;
    width: 1080px;
    height: 586px;
    padding: 0 20px;
}

.w .mp{
    width: 1080px;
    /*margin: 0 auto;*/
    height: 586px;
    position: relative;
    overflow: hidden;
}



.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #215496;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}



.nav-search .mp .search-content {
    padding: 40px 0 30px 250px;
}

.nav-search .mp .search-content .search-input {
    width: 500px;
    position: relative;
    display: inline-block;
    height: 44px;
    left: 80px;
    line-height: 40px;
    font-size: 18px;
    border: 2px solid #215496;
    padding-left: 10px;
    outline: none;
}


.nav-search .mp .search-btn {
    position: relative;
    width: 80px;
    top: -1px;
    height: 44px;
    font-size: 20px;
}

.nav-search .logo {

    position: absolute;
    /*left: 80px;*/
    top: 85px;
    height: 52px;
    width: 215px;
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #eaac00;
}

.nav-search .w{
    padding-bottom: 400px;
}

.mp .search-input {
    position: absolute;
    display: inline-block;
    height: 44px;
    width: 800px;
}

.mp .none #none{
    position: relative;
    height: 70px;
}


